In [7]:
# numpy_data_explorer.py
import numpy as np
import time

print("NumPy Data Explorer - Syntecxhub Internship Week 1 \n")

# 1. Array creation
arr_1d = np.arange(1, 11)
arr_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr_random = np.random.randint(0, 100, size=(5, 5))
zeros = np.zeros((3, 4))
ones = np.ones((4, 3))
linspace_arr = np.linspace(0, 1, 11)

print("1. Array Creation Examples:")
print("1D array:", arr_1d)
print("2D array:\n", arr_2d)
print("Random 5x5:\n", arr_random)
print("Zeros (3x4):\n", zeros)
print("Ones (4x3):\n", ones)
print("Linspace:", linspace_arr)

# 2. Indexing & Slicing
print("\n2. Indexing & Slicing:")
print("arr_2d[1, 2] =", arr_2d[1, 2])
print("First row:", arr_2d[0])
print("Last column:", arr_2d[:, -1])
print("Subarray (rows 0-1, cols 1-2):\n", arr_2d[0:2, 1:3])

# 3. Mathematical & Statistical Operations
print("\n3. Mathematical & Statistical Operations:")
print("Mean of arr_random:", np.mean(arr_random))
print("Std deviation:", np.std(arr_random))
print("Sum axis=0:", np.sum(arr_random, axis=0))
print("Max per row:", np.max(arr_random, axis=1))
print("Element-wise sqrt:\n", np.sqrt(arr_random.astype(float)))

# 4. Reshaping & Broadcasting
print("\n4. Reshaping & Broadcasting:")
# A common and flexible alternative for converting to 1D
flat = arr_random.reshape(25)           # or arr_random.flatten() / .ravel()
print("\n→ Reshaped to 1D (25,):")
print(flat)     #this will reshape the 5x5 array in to 1 1d array of 25 .

reshaped_2 = flat.reshape(5, 5)
print(reshaped_2)    #This will reshape back from 1d to 5x5.
row_vector = np.array([[10, 20, 30, 40, 50]])
broadcast_add = reshaped_2 + row_vector           # Broadcasting
broadcast_mult = reshaped_2 * 2
print("After broadcasting add (first row + [10,20,30,40,50]):\n", broadcast_add)

# 5. Save / Load
np.save('my_array.npy', arr_random)
loaded = np.load('my_array.npy')
print("\n5. Save/Load: Loaded array matches original?", np.array_equal(arr_random, loaded))

# 6. Performance comparison with Python lists
size = 10_000_000
py_list = list(range(size))
np_arr = np.arange(size)

start = time.time()
sum_py = sum(py_list)
end = time.time()
print(f"\nPython list sum: {end-start:.4f} sec")

start = time.time()
sum_np = np_arr.sum()
end = time.time()
print(f"NumPy sum: {end-start:.4f} sec")
print(f"NumPy is ~{sum_py/sum_np:.0f}x faster in this case!")

print("\n=== NumPy Data Explorer Completed ===")

NumPy Data Explorer - Syntecxhub Internship Week 1

1. Array Creation Examples:
1D array: [ 1  2  3  4  5  6  7  8  9 10]
2D array:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
Random 5x5:
 [[93 71 14 87 32]
 [86 12 48 51 38]
 [87 92 17 58 88]
 [77 88 56 24 60]
 [65 95 50 82 55]]
Zeros (3x4):
 [[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
Ones (4x3):
 [[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
Linspace: [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]

2. Indexing & Slicing:
arr_2d[1, 2] = 6
First row: [1 2 3]
Last column: [3 6 9]
Subarray (rows 0-1, cols 1-2):
 [[2 3]
 [5 6]]

3. Mathematical & Statistical Operations:
Mean of arr_random: 61.04
Std deviation: 26.180114591040276
Sum axis=0: [408 358 185 302 273]
Max per row: [93 86 92 88 95]
Element-wise sqrt:
 [[9.64365076 8.42614977 3.74165739 9.32737905 5.65685425]
 [9.2736185  3.46410162 6.92820323 7.14142843 6.164414  ]
 [9.32737905 9.59166305 4.12310563 7.61577311 9.38083152]
 [8.77496439 9.38083152 7.48331477 4.89897949 7.74596669]
 [8.06225775 9.74679434 7.07106781 9.05538514 7.41619849]]

4. Reshaping & Broadcasting:

→ Reshaped to 1D (25,):
[93 71 14 87 32 86 12 48 51 38 87 92 17 58 88 77 88 56 24 60 65 95 50 82
 55]
[[93 71 14 87 32]
 [86 12 48 51 38]
 [87 92 17 58 88]
 [77 88 56 24 60]
 [65 95 50 82 55]]
After broadcasting add (first row + [10,20,30,40,50]):
 [[103  91  44 127  82]
 [ 96  32  78  91  88]
 [ 97 112  47  98 138]
 [ 87 108  86  64 110]
 [ 75 115  80 122 105]]

5. Save/Load: Loaded array matches original? True

Python list sum: 0.0914 sec
NumPy sum: 0.0075 sec
NumPy is ~1x faster in this case!

=== NumPy Data Explorer Completed ===

In [9]:
# pandas_csv_analysis.py
import pandas as pd

# Using a popular public dataset (Titanic)
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

print("Pandas CSV Reader & Basic Analysis - Syntecxhub Week 1 \n")
print("Dataset shape:", df.shape)

# 1. Inspect head/tail/dtypes
print("\nFirst 5 rows:")
print(df.head())
print("\nLast 5 rows:")
print(df.tail())
print("\nData types:\n", df.dtypes)

# 2. Summary statistics
print("\nSummary Statistics:")
print(df.describe(include='all'))

print("\nCustom stats:")
print("Age mean:", df['Age'].mean())
print("Age median:", df['Age'].median())
print("Fare max:", df['Fare'].max())
print("Survived count:\n", df['Survived'].value_counts())

# 3. Filtering, selecting, slicing
print("\nFiltering Examples:")
female_passengers = df[df['Sex'] == 'female']
print("Number of female passengers:", len(female_passengers))

survived_pclass1 = df[(df['Survived'] == 1) & (df['Pclass'] == 1)]
print("Survived in 1st class:", len(survived_pclass1))

# Selecting columns
subset_cols = df[['Name', 'Age', 'Fare', 'Survived']]
print("\nSelected columns sample:")
print(subset_cols.head())

# Slicing rows 100 to 110
print("\nRows 100-110:")
print(df.iloc[100:111])

# 4. Save filtered results
high_fare = df[df['Fare'] > df['Fare'].quantile(0.9)]
high_fare.to_csv('high_fare_passengers.csv', index=False)
high_fare.to_excel('high_fare_passengers.xlsx', index=False)
print(f"\nSaved {len(high_fare)} high-fare passengers to CSV & Excel")

print("\n=== Pandas Analysis Completed Successfully ===")

Pandas CSV Reader & Basic Analysis - Syntecxhub Week 1

Dataset shape: (891, 12)
First 5 rows:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Last 5 rows:
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

Data types:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Summary Statistics:
        PassengerId    Survived      Pclass                 Name   Sex  \
count    891.000000  891.000000  891.000000                  891   891
unique          NaN         NaN         NaN                  891     2
top             NaN         NaN         NaN  Dooley, Mr. Patrick  male
freq            NaN         NaN         NaN                    1   577
mean     446.000000    0.383838    2.308642                  NaN   NaN
std      257.353842    0.486592    0.836071                  NaN   NaN
min        1.000000    0.000000    1.000000                  NaN   NaN
25%      223.500000    0.000000    2.000000                  NaN   NaN
50%      446.000000    0.000000    3.000000                  NaN   NaN
75%      668.500000    1.000000    3.000000                  NaN   NaN
max      891.000000    1.000000    3.000000                  NaN   NaN

               Age       SibSp       Parch  Ticket        Fare Cabin Embarked
count   714.000000  891.000000  891.000000     891  891.000000   204      889
unique         NaN         NaN         NaN     681         NaN   147        3
top            NaN         NaN         NaN  347082         NaN    G6        S
freq           NaN         NaN         NaN       7         NaN     4      644
mean     29.699118    0.523008    0.381594     NaN   32.204208   NaN      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429   NaN      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000   NaN      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400   NaN      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200   NaN      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000   NaN      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200   NaN      NaN

Custom stats:
Age mean: 29.69911764705882
Age median: 28.0
Fare max: 512.3292
Survived count:
 Survived
0    549
1    342
Name: count, dtype: int64

Filtering Examples:
Number of female passengers: 314
Survived in 1st class: 136

Selected columns sample:
                                                Name   Age     Fare  Survived
0                            Braund, Mr. Owen Harris  22.0   7.2500         0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  71.2833         1
2                             Heikkinen, Miss. Laina  26.0   7.9250         1
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  53.1000         1
4                           Allen, Mr. William Henry  35.0   8.0500         0

Rows 100-110:
     PassengerId  Survived  Pclass                              Name     Sex  \
100          101         0       3           Petranec, Miss. Matilda  female
101          102         0       3  Petroff, Mr. Pastcho ("Pentcho")    male
102          103         0       1         White, Mr. Richard Frasar    male
103          104         0       3        Johansson, Mr. Gustaf Joel    male
104          105         0       3    Gustafsson, Mr. Anders Vilhelm    male
105          106         0       3             Mionoff, Mr. Stoytcho    male
106          107         1       3  Salkjelsvik, Miss. Anna Kristine  female
107          108         1       3            Moss, Mr. Albert Johan    male
108          109         0       3                   Rekic, Mr. Tido    male
109          110         1       3               Moran, Miss. Bertha  female
110          111         0       1    Porter, Mr. Walter Chamberlain    male

      Age  SibSp  Parch   Ticket     Fare Cabin Embarked
100  28.0      0      0   349245   7.8958   NaN        S
101   NaN      0      0   349215   7.8958   NaN        S
102  21.0      0      1    35281  77.2875   D26        S
103  33.0      0      0     7540   8.6542   NaN        S
104  37.0      2      0  3101276   7.9250   NaN        S
105  28.0      0      0   349207   7.8958   NaN        S
106  21.0      0      0   343120   7.6500   NaN        S
107   NaN      0      0   312991   7.7750   NaN        S
108  38.0      0      0   349249   7.8958   NaN        S
109   NaN      1      0   371110  24.1500   NaN        Q
110  47.0      0      0   110465  52.0000  C110        S

Saved 87 high-fare passengers to CSV & Excel

=== Pandas Analysis Completed Successfully ===

In [13]:
# data_cleaning_utility.py
import pandas as pd
import numpy as np

# Using a messy sample dataset (or you can use any real messy CSV)
data = {
    'Name': ['  Alice', 'Bob ', 'Charlie', 'David', None, 'Alice'],
    'Age': [25, 'thirty', 35, 40, None, 25],
    ' Salary ': [50000, 60000, None, 70000, 55000, 50000],
    'Join_Date': ['2021-01-15', '2021/02/20', '2021-03-10', 'invalid', '2021-05-01', '2021-01-15'],
    'Department': ['HR', 'IT', 'IT', 'Finance', 'HR', 'HR']
}
df = pd.DataFrame(data)

print("=== Data Cleaning Utility - Syntecxhub Week 1 ===\n")
print("Original Data:")
print(df)
print("\nInitial Info:")
print(df.info())

# Cleaning log
log = []

# 1. Standardize column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
log.append("Standardized column names")

# 2. Handle missing values
df['name'].fillna('Unknown', inplace=True)                                                     #Replaces any NaN (missing) values with the string "Unknown".
df['age'].fillna(df['age'].median() if df['age'].dtype != 'object' else np.nan, inplace=True)
df['salary'].fillna(df['salary'].median(), inplace=True)
log.append(f"Filled missing name with 'Unknown', salary with median")
print("This Is the data after handeling missing values : \n",df)
# 3. Fix incorrect dtypes
# Age: convert to numeric
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['age'].fillna(df['age'].median(), inplace=True)

# Join date: parse dates
df['join_date'] = pd.to_datetime(df['join_date'], errors='coerce')
log.append("Converted age to numeric & parsed join_date")

# 4. Remove duplicates
initial_rows = len(df)
df.drop_duplicates(inplace=True)
log.append(f"Removed {initial_rows - len(df)} duplicate rows")

# 5. Final cleaned dataset
print("\nCleaned Dataset:")
print(df)
print("\nFinal Info:")
print(df.info())

# Save cleaned data
df.to_csv('cleaned_dataset.csv', index=False)
print(f"\nCleaned dataset saved as 'cleaned_dataset.csv' ({len(df)} rows)")
print("\n=== Data Cleaning Utility Completed ===")

=== Data Cleaning Utility - Syntecxhub Week 1 ===

Original Data:
      Name     Age   Salary    Join_Date Department
0    Alice      25   50000.0  2021-01-15         HR
1     Bob   thirty   60000.0  2021/02/20         IT
2  Charlie      35       NaN  2021-03-10         IT
3    David      40   70000.0     invalid    Finance
4     None    None   55000.0  2021-05-01         HR
5    Alice      25   50000.0  2021-01-15         HR

Initial Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         5 non-null      object
 2    Salary     5 non-null      float64
 3   Join_Date   6 non-null      object
 4   Department  6 non-null      object
dtypes: float64(1), object(4)
memory usage: 372.0+ bytes
None
This Is the data after handeling missing values :
       name     age   salary   join_date department
0    Alice      25  50000.0  2021-01-15         HR
1     Bob   thirty  60000.0  2021/02/20         IT
2  Charlie      35  55000.0  2021-03-10         IT
3    David      40  70000.0     invalid    Finance
4  Unknown     NaN  55000.0  2021-05-01         HR
5    Alice      25  50000.0  2021-01-15         HR

Cleaned Dataset:
      name   age   salary  join_date department
0    Alice  25.0  50000.0 2021-01-15         HR
1     Bob   30.0  60000.0        NaT         IT
2  Charlie  35.0  55000.0 2021-03-10         IT
3    David  40.0  70000.0        NaT    Finance
4  Unknown  30.0  55000.0 2021-05-01         HR
5    Alice  25.0  50000.0 2021-01-15         HR

Final Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        6 non-null      object
 1   age         6 non-null      float64
 2   salary      6 non-null      float64
 3   join_date   4 non-null      datetime64[ns]
 4   department  6 non-null      object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 372.0+ bytes
None

Cleaned dataset saved as 'cleaned_dataset.csv' (6 rows)

=== Data Cleaning Utility Completed ===

/tmp/ipython-input-152221838.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['name'].fillna('Unknown', inplace=True)                                                     #Replaces any NaN (missing) values with the string "Unknown".
/tmp/ipython-input-152221838.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].median() if df['age'].dtype != 'object' else np.nan, inplace=True)
/tmp/ipython-input-152221838.py:31: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['salary'].fillna(df['salary'].median(), inplace=True)
/tmp/ipython-input-152221838.py:37: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].median(), inplace=True)